.dropdown {
  display: flex;
  align-items: center;
}
.dropdown-span {
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
  width: 4rem;
  position: relative;
}
/* .dropdown-span::after {
  content: '';
  position: absolute;
  bottom: -4px;
  width: 7rem;
  height: 2px;
  right: 0;
  left: -20%;

  background-color: wheat;
  transition: width 0.3s ease;
}

.dropdown.open .dropdown-span::after {
  width: 12.5rem;
  right: 20%;
} */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 12.5rem;
  border: 1px solid #666666;
  border-radius: 0.5rem;
  z-index: 1200;
  bottom: 82px;
  left: 0;
}

.dropdown-content li {
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
  cursor: pointer;
  font-size: x-large;
}

.dropdown-content a:hover {
  background-color: #e0e0e0;
}

.dropdown.open .dropdown-content {
  display: block;
}

.dropdown-content li.selected {
  color: rgb(0, 0, 0);
  background-color: rgb(114, 170, 103);
}

.dropdown-content li:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(67, 162, 48);
}
