.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--primary-color);
  border: none;
  color: var(--text-color);
}
button,
a {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  touch-action: manipulation;
  user-select: none;
}
