.button {
    padding: 10px 20px;
    margin: 5px;
    background-color: rgb(179, 179, 221);
    border: none;
    border-radius: 0.5rem;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;}
.button:hover {
    background-color: #5a6268;
}