.dropdown {
  color: var(--text-color);
}

.dropdownContent {
  visibility: hidden;
  position: absolute;
  background-color: black;
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  bottom: 50%;
  right: 2%;
  transition:
    opacity 0.1s ease,
    visibility 0.1s ease;
}

.dropdownContent li {
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
  cursor: pointer;
  font-size: x-large;
}

.dropdownContent li.selected {
  background-color: var(--active-color);
}

.dropdownContent li:hover {
  background-color: var(--secondary-text-color);
}

.dropdown.open .dropdownContent {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 768px) {
  .dropdownButton {
    font-size: small;
  }
}
