.dropdown {
  color: var(--text-color);
}

.dropdownButton {
  font-size: 2rem;
  cursor: pointer;
  position: relative;
  font-weight: 400;
}

.dropdownContent {
  visibility: hidden;
  position: absolute;
  background-color: black;
  min-width: 12.5rem;
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  border-bottom-left-radius: 0.1rem;
  border-bottom-right-radius: 0.1rem;
  bottom: 55%;
  left: 0;
  z-index: 1;
  transition:
    opacity 0.1s ease,
    visibility 0.1s ease;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

.dropdownContent li {
  padding: 0.6rem 1rem;
  text-decoration: none;
  display: block;
  cursor: pointer;
  font-size: x-large;
}

.dropdown.open .dropdownContent {
  opacity: 1;
  visibility: visible;
}

.dropdownContent li.selected {
  background-color: var(--active-color);
}
.dropdownContent li.selected:first-child {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.dropdownContent li:hover {
  background-color: var(--active-color);
}
.dropdownButton:hover {
  color: var(--secondary-text-color);
}

@media (max-width: 768px) {
  .dropdownContent li:active {
    background-color: var(--active-color);
    transform: scale(0.98);
  }
  .dropdownButton {
    font-size: x-large;
  }
  .dropdownContent {
    min-width: 8rem;
  }
}
