.dropdown {
  color: var(--text-color);
}

.dropdownButton {
  font-size: 2rem;
  cursor: pointer;
  position: relative;
  font-weight: 400;
}

.dropdownContent {
  visibility: hidden;
  position: absolute;
  background-color: black;
  min-width: 12.5rem;
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  bottom: 55%;
  left: 0;
  z-index: 1;
  transition:
    opacity 0.1s ease,
    visibility 0.1s ease;
}

.dropdownContent li {
  padding: 0.6rem 1rem;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
  cursor: pointer;
  font-size: x-large;
}

.dropdownContent a:hover {
  background-color: var(--secondary-color);
}

.dropdown.open .dropdownContent {
  opacity: 1;
  visibility: visible;
}

.dropdownContent li.selected {
  background-color: var(--active-color);
}

.dropdownContent li:hover {
  background-color: var(--secondary-text-color);
}
.dropdownButton:hover {
  color: var(--secondary-text-color);
}

@media (max-width: 768px) {
  .dropdownButton {
    font-size: x-large;
  }
  .dropdownContent {
    min-width: 8rem;
  }
}
