.bar {
  transition:
    background-color 0.5s,
    transform 0.5s;
  margin: 0 0.1rem;
  border: 0.02rem solid #000000;
  border-radius: 4px;
  background-color: rgba(1, 1, 100, 0.204);
  transform-style: preserve-3d;
}

.bar.active {
  background-color: rgb(194, 36, 36);
  /* transform: rotateY(180deg) translateZ(10px); */
}

.bar.compare {
  background-color: rgb(24, 206, 91);
  /* transform: rotateY(180deg); */
}
.bar.pivot {
  background-color: rgb(16, 16, 248);
}
.bar.sorted {
  background-color: rgba(1, 1, 100, 0.494);
}

/* .bar:hover {
  transform: rotateY(180deg) translateZ(10px);
} */
