.arr {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  box-sizing: border-box;
  /* gap: 0.2rem; */
}
@media (max-width: 768px) {
  .arr {
    height: 85vh;
  }
}
