.navContainer {
  height: 10dvh;
  max-height: 10dvh;
  min-height: 10dvh;

  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.7rem;
}
.navButton {
  background-color: var(--background-color);
  color: var(--color-button);
}
.buttonInfo {
  display: flex;
  gap: 0.2rem;
}
