.player-container {
  width: 700px;
  height: auto;
  position: fixed;
  inset: auto 0 0 30%;
  z-index: 1000;
  background-color: black;
  opacity: 85%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

}
.controls {
  display: flex;
  justify-content: space-around;
}

.speed-scale {
  display: flex;
  justify-content: space-between;
  font-size: small;
  margin-bottom: 10px;
}
.controls-speed {
  justify-content: center;
  display: flex;
  color: wheat;
}

@media(max-width: 768px){
  .player-container{
    width:100%; 
    inset: auto 0 0 0;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }

}