.player-container {
  width: 700px;
  height: 130px;
  position: fixed;
  inset: auto 0 0 30%;
  z-index: 900;
  background-color: black;
  opacity: 95%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.controls {
  display: flex;
  padding-top: 10px;
  justify-content: space-around;
}

.speed-scale {
  display: flex;
  justify-content: space-between;
  font-size: small;
  margin-bottom: 10px;
}
.algorithSelector {
  display: flex;
  justify-content: start;
}
.controls-speed {
  justify-content: center;
  display: flex;
  color: wheat;
  padding-top: 10px;
}
.step-buttons {
  display: flex;
  gap: 10px;
  padding: 5px;
  justify-content: center;
  align-items: center;
}
.step-buttons button:disabled {
  opacity: 30%;
}

@media (max-width: 768px) {
  .player-container {
    width: 100%;
    inset: auto 0 0 0;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }
}
