* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(98, 97, 97);
}

section {
  display: flex;
  height: 100vh;
  flex-direction: column;
  position: relative;
}

.title-algorithm {
  color: rgb(255, 253, 253);
  text-align: center;
  margin-top: 50px;
  font-size: xx-large;
  text-transform: capitalize;
  z-index: 1100;
}
.pause-icon {
  width: 2.5rem;
  height: 2.5rem;
}
.play-icon {
  width: 2.5rem;
  height: 2.5rem;
}
.resume-play-icon {
  width: 2.5rem;
  height: 2.5rem;
}
.prev-step-icon {
  width: 1.5rem;
  height: 1.5rem;
}
.next-step-icon {
  width: 1.5rem;
  height: 1.5rem;
}
.reset-icon {
  width: 2rem;
  height: 2rem;
}
.drop-down-icon {
  width: 2rem;
  height: 1.5rem;
}

@media (max-width: 768px) {
  .title-algorithm {
    font-size: large;
    margin-top: 30px;
  }
  .pause-icon {
    width: 1rem;
    height: 1rem;
  }

  .play-icon {
    width: 1rem;
    height: 1rem;
  }
  .resume-play-icon {
    width: 1rem;
    height: 1rem;
  }
  .prev-step-icon {
    width: 0.7rem;
    height: 0.7rem;
  }
  .next-step-icon {
    width: 0.7rem;
    height: 0.7rem;
  }
  .reset-icon {
    width: 1rem;
    height: 1rem;
  }
  .drop-down-icon {
    width: 1rem;
    height: 0.8rem;
  }
}
