* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(98, 97, 97);
}

section {
  display: flex;
  height: 100vh;
  flex-direction: column;
  position: relative;
}

.title-algorithm {
  color: rgb(255, 253, 253);
  text-align: center;
  margin-top: 50px;
  font-size: xx-large;
  text-transform: capitalize;
}

/* @media (max-width: 768px) {
	.player {
		justify-content: space-around;
		padding-left: 0px;
	}
} */

@media (max-width: 768px) {
  .title-algorithm {
    font-size: large;
    margin-top: 30px;
  }
}
